html,
body {
    background-color: black;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    color: whitesmoke;

}

a {
    color: rgb(83, 83, 83);
}

.arrow img {
    margin-top: 15px;
}

a>img {
    width: 25px;
    height: auto;
    padding-left: 25px;
    vertical-align: middle;
    margin-top: -5px;
}

p {
    text-align: center;
}

.container {
    text-align: center;
}

div {
    text-align: center;
}

.trailer img {
    width: 300px;
    height: 190px;
}

.logo img {
    width: 250px;
    height: auto;
}

pre {
    font-family: "Noto Sans KR", sans-serif;
}

span {
    color: rgb(169, 169, 169);
}

iframe {
    text-align: center;
}

.watched {
    background-color: whitesmoke; /* 버튼 배경색 (녹색) */
    color: black;              /* 버튼 텍스트 색상 */
    border: none;
    padding: 4px 5px;        /* 버튼 내 여백 (상하, 좌우) */
    font-size: 16px;           /* 글꼴 크기 */
    font-family: 'Noto Sans KR', sans-serif; /* 글꼴 설정 */
    border-radius: 8px;        /* 둥근 모서리 */
    cursor: pointer;          /* 마우스 커서가 버튼 위에 있을 때 포인터로 변경 */
    transition: all 0.3s ease; /* 부드러운 전환 효과 */
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}